# 1. Tuples

## Given the following tuple ('a','b','c')

- What is the index of “c”?
- What is the index of “a”
- What is the index of “b”

Demonstrate your understanding by assigning this tuple to a variable and accessing each of the values by their index.

## Create a tuple of floats with size 5.

## Index a tuple
Considering the tuple below, assign the index of the element "green" to the variable green_index, using negative indexing.

In [ ]:
color = ("red", "blue", "green", "yellow", "black", "white")

## Slice a tuple
Extract ("red", "green", "black") from tuple color.
Assign the results to a variable called rgb.

## Index a tuple of tuples

Considering the following tuple of tuples:

random_numbers = ((1, 2, 3),(4, 5, 6),(7, 8, 9),(10, 11, 12))

What is the right way to extract the number 8 from random_numbers?

- random_numbers[3][2]
- random_numbers[-1][-1]
- random_numbers[-2][1]
- random_numbers[-1][1]

## Replace values in a tuple

Can a tuple be modified after its creation? Try it...

## Merge two tuples
Considering the tuples below, create a tuple by merging them and assign it to a third tuple called this_tuple. Elements in tuple left should come before the ones on the right tuple.

In [ ]:
left = (1,11,22215,7,14,1,11,9,1,6,2,5)
right = (1,24,50,45,2,45,1,1,2,1,2,1,88,9,9,9,44,5,2)

# 2. Lists

## List Creation
Write a list named this_list with length five and with the string "bananas" on negative index -4.

In [ ]:
this_list = ["kiwi", "bananas", "melon", "lemon", "kiwi"]

## Delete and append values in a list
Giving the list ice_cream, delete "chocolate" and append "dulce de leche".

In [ ]:
ice_cream = ["lemon", "stracciatella", "pistacchio", "chocolate", "vanilla"]

## Delete the last value in a list
Considering the following list, ice_cream = ["lemon", "vanilla", "stracciatella", "pistacchio", "chocolate", "vanilla"], what is the right answer if we want to delete "vanilla" in the last position?

- del ice_cream[1]
- del ice_cream[-1]
- ice_cream.remove("vanilla")
- ice_cream[-1] = None

## List Operations
Using list operations, create a list called hello_world of size 10000. It should have just two unique values, "hello" and "world". Starting with "hello" then "world", then "hello" and so on.

## Replace values and sort a list
Replace "pistacchio" in the list ice_cream by "cream". Add the sub-list others to the end of the list ice_cream.
After these operations, sort the elements in the list and convert it to a tuple.

In [ ]:
ice_cream = ["lemon", "stracciatella", "pistacchio", "chocolate", "vanilla"]
others = ["dulce de leche", "caramel", "cookies", "peanut butter"]

# 3. Sets

## Sets creation

Declare:
* set_1 with the elements: 1, 2, 3
* set_2 with the elements: 3, 4, 5

## Apply mathematical operations

1. Difference:
    * Declare the variable diff_1 containing the difference between set_1 and set_2;
    * Declare the variable diff_2 containing the difference between set_2 and set_1;
2. Union: address this value to variable union
3. Intersection: address this value to variable intersection
4. Symmetrical difference: address this value to variable sym_diff

Print each variable and stop to understand the results ;)