# Practice exercises - for loop

## Exercise 1

Calculate the sum of all positive integers until 100 (1 + 2 + 3 +...+ 100).

In [79]:
sum_value = 0
for i in range(1,101):
    sum_value += i

print(sum_value)

5050

## Exercise 2

Using a for loop, create a list that has the elements of the list `numbers` squared.

```python
numbers = [1, 2, 5, 10, 100, 150, 5000, 20000]
```

In [6]:
numbers = [1, 2, 5, 10, 100, 150, 5000, 20000]
numbers_squared = []
for element in numbers:
    numbers_squared.append(element ** 2)
    
print(numbers_squared)

[1, 4, 25, 100, 10000, 22500, 25000000, 400000000]

## Exercise 3

Consider the following lists: 

`list_1 = [1, 2, 3, 4, 5]`

`list_2 = [3, 4, 5, 6, 7]`

Using a for loop, get all the elements that are on list_1 but not on list_2.

In [1]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [3, 4, 5, 6, 7]

In [7]:
# create list 3
list_3 = []
# iterate over list_1
for num in list_1:
    if num not in list_2:
        list_3.append(num)
    # check if the each value of list_1 is inside list 2
        # if its not -> append to list_3
list_3

[1, 2]

## Exercise 4

Create a program that print the multiplication tables from 1 to 10.

Hint: You need to used a loop inside a loop ðŸ˜‰

In [4]:
for multiplier in range(11):
    print("The multiplication table for", multiplier)
    for multiplied in range(11):
        print(multiplier,'*',multiplied,'=', multiplier * multiplied)
    #White line between tables
    print("\n")

The multiplication table for 0
0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0


The multiplication table for 1
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


The multiplication table for 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


The multiplication table for 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


The multiplication table for 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


The multiplication table for 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


The multiplication table for 6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


The multiplication table for 7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


The multiplication table for 8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


The multiplication table for 9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


The multiplication table for 10
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100